<% @posts.each do |post| %>
  <div class="article">
    <div class="text">
      <h2><%= post.title %></h2> <br />
      <h4><%= post.body %></h4>
    </div>
    <div class="bar">
      <div id="bar_<%= post.id %>" class="bar">
        <div class="percent" style="width: <% if post.percentage == nil || post.percentage == 0%><%= 0 %><%else%><%= post.percentage * 100 %><%end%>% ;"></div>
      </div>
    </div>
  </div>
<% end %>
