<% @posts.last(5).each do |post| %>
  <div class="article">
    <div class="text">
      <h2><%= post.title %></h2> <br />
      <h4><%= post.body %></h4>
    </div>
    <div class="bar">
      <div id="bar_<%= post.id %>" class="bar">
        <div class="percent" style="width: <% if post.percentage == nil || post.percentage == 0%><%= 0 %><%else%><%= post.percentage * 100 %><%end%>% ;"></div>
      </div>
    </div>
  </div>
<% end %>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span id="x-close" onclick="closeModal()">&times;</span><br />
    <h3>Login!</h3>
    <%= render "form" %>
    <%= link_to "Sign up", '/sign_in' %><br />
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <div class="logos">
      <a href="https://www.facebook.com/SpaceJamMovie/"><img class="logo" src="/assets/facebook.png"></a>
      <a href="https://twitter.com/life_alert?lang=en"><img class="logo" src="/assets/twitter.png"></a>
      <a href="https://www.instagram.com/jamesfregan/"><img class="logo" src="/assets/instagram.png"></a>
      <a href="https://www.reddit.com/r/shittyaskscience/"><img class="logo" src="/assets/reddit.png"></a>
    </div>
  </div>
</div>

<% if current_user %>
<% else %>
  <script type="text/javascript">
  setTimeout(function() {
    document.getElementById('myModal').style = "display: block;"
  }, 5000);
  </script>
<% end %>
