<!DOCTYPE html>
<html>
  <head>
    <title>What An Idiot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>What An Idiot</h1>
      <h5>...There are bigger idiots out there than you.</h5>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <div class="navbar-header">
            </div>
          </div>
        </div>
      </header>

      <div class="menu">
        <ul>
          <a href="<%= root_path %>"><li>HOME</li></a>
          <a href="<%= articles_path %>"><li>ARTICLES</li></a>
          <a href="<%= about_us_path %>"><li>ABOUT US</li></a>
          <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <li>LOGOUT</li>
            <% end %>
          <% else %>
            <a href="<%= sign_in_path %>"><li>SIGN IN</li></a>
          <% end %>
        </ul>
      </div>
  <div class="abovenav">
  </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
      <%= yield %>
        <footer class="bottom nav">
          <div class="container">
            <nav>
              <ul>
                <li><%= link_to "Home", root_path%></li>
                <li><%= link_to "Articles", articles_path%></li>
                <li><%= link_to "About Us", about_us_path%></li>
                <li><%= link_to "Sign In", sign_in_path%></li>
              </ul>
            </nav>
          </div>
        </footer>
  </body>
</html>
